*{
    box-sizing: border-box;
}

body{
    background-color: yellow;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --brown-color: rgb(96, 56, 27);
    width: 100%;
}

.ear{
    background-color: black;
    width: 10%;
    aspect-ratio: 1 / 1;
    position: fixed;
}

.ear--right{
    transform: translate(50%, -50%) rotate(45deg);
    right: 0;
}

.ear--left{
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.cheek{
    background-color: red;
    position: fixed;
    width: 10%;
    aspect-ratio: 1 / 1;
    bottom: 0;
    border-radius: 100%;
}

.cheek--left{
    left: 0;
    transform: translate(-50%,50%);
}

.cheek--right{
    right: 0;
    transform: translate(50%, 50%);
}

.pokedex{
    margin: 3rem;
}

.pokedex__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
}

.grid__card{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20vw;
    overflow: hidden;
}

.card__img{
    display: flex;
    justify-content: center;
    background-color: rgb(220, 220, 220);
    flex: 1;
    padding: 2rem;
    position: relative;
}

.img__id{
    color: var(--brown-color);
    background-color:rgb(205, 205, 200);
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}

.card__desc{
    padding: 2rem 1rem 2rem 1rem;
    flex: 1;
}

.desc__evo{
    border-left-color: var(--brown-color);
    border-width: 0 0 0 5px;
    border-style: solid;
    margin-top: 0.5rem;
    padding-left: 0.3em;
}

.desc__evo p{
    color: var(--brown-color);
    margin: 0;
    font-size: 0.8rem;
}

.desc__evo--inv{
    visibility: hidden;
}

h3{
    font-size: 1.2rem;
    font-weight: 100;
}

h2, button, h3{
    margin: 0;
    padding: 0;
}

button{
    border-radius: 50px;
    border: 1px solid rgb(160, 141, 126);
    padding: 0.25rem;
    color: rgb(160, 141, 126);
}

input{
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    outline: 0;
}