body{
    background-color: yellow;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    height: 150vh;
}

.ear{
    background-color: black;
    width: 15%;
    aspect-ratio: 1 / 1;
    position: fixed;
}

.ear--right{
    transform: translate(50%, -50%) rotate(45deg);
    right: 0;
    
}

.ear--left{
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.cheek{
    background-color: red;
    position: fixed;
    width: 15%;
    aspect-ratio: 1 / 1;
    bottom: 0;
    border-radius: 100%;
}

.cheek--left{
    left: 0;
    transform: translate(-50%,50%);
}

.cheek--right{
    right: 0;
    transform: translate(50%, 50%);
}