*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0;
    border-bottom: 1px grey solid;
    position: sticky;
    top: 0;
    padding-right: 1.5rem;
}

nav ul{
    display: flex;
    padding: 0;
    margin: 0;
}

nav li{
    display: flex;
    border: grey solid;
    border-width: 0 1px 0 0;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.nav__bluebox:hover{
    background-color: lightseagreen;
    cursor: pointer;
}

.nav__greytext{
    transition: color 0.3s linear;
}

.nav__greytext:hover{
    color: lightgrey;
}